@import './variables';
@import './blocks/card';
@import './blocks/stars';

/* ===== Reset ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* ===== Layout ===== */
.products {
  // display: flex;
  // justify-content: center;
  padding: 40px;
}
