// Colors
$color-primary: #00acdc;
$color-dark: #060b35;
$color-gray: #616070;
$color-border: #f1f1f1;
$color-white: #fff;

// Sizes
$card-width: 200px;
$radius: 5px;

// Typography
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
